<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Mi app{% endblock%}</title>
</head>

<body>
    <header>
        <h1>Esta es la Cabecera de mi aplicación</h1>
        <hr>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/saludo/amigo">Saluda</a>
                </li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        {% block content%}
        <h1>Contenido de mi pagina</h1>
        {%endblock%}
    </main>
    <footer>
        <p>2026&copy;IES Las Galletas</p>
    </footer>
</body>

</html>