<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>

<body>
    <h1>Catalogo</h1>
    <h2>Nombre:{{nombre}}</h2>
    <p>Mostrando el producto con id= {{id_producto}}</p>
    <h3>Listado de productos</h3>
    <ul>
        {%for producto in lista_productos %}
        <li>
            <strong>{{producto.nombre}}</strong>
            {{producto.precio}}€
            {% if producto.disponible %}
            <span style="color: green;">En stock</span>
            {%else%}
            <span style="color: red;">Agotado</span>
            {%endif%}
        </li>
        {%endfor%}
    </ul>
</body>

</html>