{%extends "base.html"%}

{% block title %}Filtrar{% endblock %}

{% block content %}
<h1>Filtrar Productos</h1>
<form action="{{url_for('filtrar_data')}}" method="get">
    <p>Filtrar por precio:</p>
    <p>
        <label for="precio_min">Precio mínimo:</label>
        <input type="number" id="precio_min" name="precio_min" step="10">
        <br>
        <label for="precio_max">Precio Maximo:</label>
        <input type="number" id="precio_max" name="precio_max" step="10">

    </p>
    <p>
        <input type="submit" value="Filtrar">
    </p>


</form>
{% endblock %}